body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

.divider {
    width: 100px;
    height: 3px;
    background: #0094D9;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Navigation Bar */

.navbar {
    background-color: #fff;
    padding-bottom: 10px;
}

.navbar-logo {
    width: 175px;
    padding-top: 20px;
    padding-left: 10px;
}

.nav__links {
    padding: 30px 20px 10px 20px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav--links {
    color: #0094D9;
    background-color: #fff !important;
}

.nav--links:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background 2s ease;
}

.nav--links:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #0094D9;
    transition: width 2s ease;
}

.nav--links:hover:before {
    width: 100%;
    background: #0094D9;
    transition: width 1s ease;
    text-decoration: none;
}

.nav--links:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
    text-decoration: none;
}

.request--quote {
    background-color: #0094D9;
    border-radius: 3px;
    color: #fff;
    margin-right: 40px;
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: background 2s;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.request--quote:hover {
    background-color: #99CC33 !important;
    transition: all 0.8s ease-in;
    color: #fff;
}

/* FAQ */

#faq {
    margin-bottom: 100px;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    overflow-x: hidden;
    padding: 0 5em;
    text-align: left;
}

.faq-header{
    margin-top: 150px;
    color: #99CC33;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.faq-c {
    padding: 1em 0;
    background-color: #D8D8D8;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px grey;
}

.faq-t {
    line-height: 1em;
    color: #000; 
    font-family: sans-serif; 
    float:left; 
    font-weight: 700; 
    padding-right: 0.3em; 
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}

.faq-o {
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 50% 50%;
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 50% 50%;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    transition: all 200ms;
}

.faq-q {
    padding-left: 40px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color: #000;
}

.faq-a {
    padding-left: 40px;
    clear: both;
    color: #222;
    display: none;
    padding-left: 1.5em;
    font-family: "Raleway", sans-serif;
}

.faq-a h4 {
    padding: 5px 40px;
}

/*faq*/
@media(max-width: 768px){
#faq {
    padding: 5%;
    margin: 5%;
    }
}

/* FOOTER SECTION */

#footer {
    background-color: #99CC33;
    padding: 30px 0px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "Open Sans", sans-serif;
}

.footer-left, .footer-center, .footer-right {
    color: #fff;
}

.footer--link {
    color: #fff;
}

.footer--link:hover {
    color: #f0f0f0;
}

.footer__icon {
    padding: 0px 8px;
}



/* MEDIA QUERY MOBILE */
@media screen and (max-width: 480px) {
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 35px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #0094D9 !important;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    border: 1px solid #0094D9;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.request--quote {
    background-color: #0094D9;
    border-radius: 3px;
    margin-right: 0px;
}

}

/* MEDIA QUERY FOR TABLET */
@media (min-width: 480px) and (max-width: 768px) {

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 35px !important;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid #0094D9 !important;
    border-radius: 4px;
}

.navbar-toggle .icon-bar {
    border: 1px solid #0094D9;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.request--quote {
    background-color: #0094D9;
    border-radius: 3px;
    margin-right: 0px;
}

}
