body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

/* Navigation Bar */

.navbar {
    background-color: #fff;
}

.navbar-logo {
    width: 175px;
    padding-top: 20px;
    padding-left: 10px;
}

.nav__links {
    padding: 30px 20px 10px 20px;
    text-transform: uppercase;
}

.nav--links {
    color: #0094D9;
}

.request--quote {
    background-color: #0094D9;
    border-radius: 3px;
    color: #fff;
}

/*  */

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#benefits{
    min-height: 700px;
    background-color: gray;
}

#benefits h1{
    margin-top: 80px;
}

.employers, .employees{
    padding-top: 60px;
}

#rates{
    min-height: 400px;
}


#rates h2{
    margin-top: 60px;
}

#rates p{
    margin-top: 60px;
}

#included{
    min-height: 400px;
    background-color: gray;
}

#included h2{
    margin-top: 60px;
}

#included .list  p{
    float:right;
    text-align: center;
    width:50%;
    padding: 0;
    margin: 0;
    padding-top: 20px;
}

#included .list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* HOME HERO */

.hero--image {
    width: 100%;
}

/* SERVICES */

.services-title {
    color: #99CC33;
    text-transform: uppercase;
}

.services-cta {
    margin: 20px 0px 40px 0px;
}

.services__wellness {
    color: #0094D9;
}

/* LOGOS */

#logos {
    padding: 20px 0px;
    background-color: #D8D8D8;
    opacity: 0.8;
}

.logos-title {
    color: #99CC33;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.client--logos {
    width: 50%;
}

/* TESTIMONIALS */

#testimonials {
    padding: 20px 10px;
}

.testimonials-title {
    margin-bottom: 40px;
    color: #99CC33;
    text-transform: uppercase;
}

.testimonials--text {
    /* padding: 0px 70px; */
}

.testimonials-cta {
    margin: 20px 0px 40px 0px;
}

/* CONFIRMATION SECTION */

.confirmation-message {
    padding: 170px 0px;
}

.confirmation-message > button {
    margin-top: 30px;
}

/* QUOTE FORM */

.quote-title {
    color: #99CC33;
}

.quote-form h3 {
    color: #0094D9;
}

.quote-form {
    border: 3px solid #0094D9;
    margin: 0px 450px 80px 450px;
    padding: 0px 50px 30px 50px;
}

.form-group {
    margin-bottom: 50px;
}

/* FOOTER SECTION */

#footer {
    background-color: #99CC33;
    padding: 30px 0px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
}

.footer-left, .footer-center, .footer-right {
    color: #fff;
}

.footer--link {
    color: #fff;
}

.footer--link:hover {
    color: #f0f0f0;
}

.footer__icon {
    padding: 0px 8px;
}

/* LOGOS DISPLAY in HOME PAGE */

/* Slider */
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    /* width: 100%; */
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


@media(max-width: 768px){
    #benefits, #rates, #included .list p, #paymentoptions .box{
        float:none;
        text-align:center;
        width:100%
    }

}